---
---

@import "minima";

body {
    min-height: 100vh;
    text-transform: lowercase;
}

div.post-featured-image {
    min-height: 80vh;
    background-size: cover;
    background-position: center;
    justify-content: flex-end;
    display: flex;
    align-items: flex-end;
    color: #fff;
}

div.post-featured-image span {
    padding: 1em;
}

.page-content {
    padding: 0;
}

h1 {
    margin: 1rem 0;
}

div.big-panels {
    display: flex;
}

div.home-panel {
    display: inline-block;
    width: 50%;
}

div.home-panel a {
    text-align: center;
    height: 65vh;
    background-size: cover;
    background-position: center;
    display:flex;
    align-items:center;
    justify-content:center;
    color: #fff;
    font-size: 3rem;
    font-weight: 100;
}

a.category-post-wrapper {
    height: 30vh;
    text-align: center;
    background-size: cover;
    background-position: center;
    display:flex;
    align-items:center;
    justify-content:center;
    color: #fff;
    font-size: 3rem;
    font-weight: 100;
}

.who {
    margin: 0;
}

.who li {
    display: inline;
}

.logo {
    height: 2.5rem;
}
