---
layout: default
---

{% for post in site.posts %}

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <a href="{{ post.permalink }}">
  <div class="post-featured-image" itemprop="articleImage" style="background-image: url('{{ post.url }}{{post.featured }}')" alt="{{post.featured_description}}">
    <span>{{post.featured_description}}</span>
  </div>
  </a>

  <header class="post-header">
    <a href="{{ post.permalink }}">
      <h1 class="post-title p-name" itemprop="name headline">{{ post.title | escape }}</h1>
    </a>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
            {{ post.trip_date }}
      </time>
    </p>
    {% if post.who %}
    <ul class="who">
        {% for member in post.who %}
        <li>{{ member }}{% if forloop.last != true %},{% endif %}</li>
        {% endfor %}
    </ul>
    {% endif %}
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>

{% endfor %}
